* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: rgb(87, 81, 81);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Display {
  width: 600px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(184, 184, 184);
  border-radius: 9px;
  padding: 2rem;
}

.Control {
  margin-top: 2rem;
}

button {
  background-color: rgb(184, 184, 184);
  border: 1px solid rgb(46, 46, 46);
  padding: 1rem;
  border-radius: 9px;
  font-weight: 600;
}

.Text {
  font-weight: 600;
}

.Author {
  margin-top: 10px;
  margin-left: 3px;
  font-weight: 400;
  font-style: italic;
}